@media only screen and (max-width: 680px){
    .navbar{
        background-color: white;
        color: black;
    }
    .navbar .logo{
        width: 100%;
        height: 100%;
    }
    .navbar .logo img{
        max-width: 100%;
        height: 100%;
    }
    .navbar .navlist{
        width: 20%;
        height: 100%;   
    }
    .navbar .logo .logo1{
        display: none;
    }
    .navbar .logo .logo2{
        display: inline;
        background-color: white;
    }
    .navbar .menu-btn i{
        color:black;
        font-size: 30px;
        margin: 20px;
       
        cursor: pointer;
    }
    .navlist ul{
        position: fixed;
        top: 100px;
        left: -100%;
        height: 100%;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        background-color: black;
    }
    h6{
        display: none;
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0px; 
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width:80%;
        height:auto;
        padding: 10px;
        margin-top: 20px;
    }

    .banner .tit{
        margin: 40px;
        width:100%;
        height:auto;
    }
    .date{
        font-size:25px;
    }
    .button {
        margin:20px;
    }
    .qr{
        height: 100px;
        width: 100px;
    }
    .copy{
        background-color: #fff;
        height:50px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:20px;
    }
    .events{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
       margin: 0%;
    }
    .event{
        width:80%;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .rv{
        width:80%;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;

    }
    .left{
        width: 100%;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content:space-between;
        width: 100%;
        flex-wrap: wrap;
        
    }
    .evn{
        padding-top: 10px;
        padding-left: 0px;
        font-size: 18px;
    }
    .left img {
        width: 100%;
        height: 100%;
    
    }
    .right li {
        
        list-style: upper-roman;
        list-style-position: outside;
        padding-left: 20px;
        padding-right: 0px;
        padding-bottom:10px;
        color: #fff;
        font-weight: normal;
        font-size: 15px;
        
    }
    .head{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        font-size:20px;
    }
    .headd{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size:25px;
        padding-bottom: 0%;
    }
    .en{
        display: none;
    }
    .Head{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 23px;
    }
    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        
    }
    .contactus{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contactus h1{
        color: #040c3c;
        font-size: 20px;
        padding: 0px;
        margin: 20px;
       
        font-weight: bold;
    }
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        height:auto;
        width:100%;
    }
    .card{
        height: 200px;
        width: 250px;
        background-color: #fff;
        border-radius:20px ;
        margin-left: 0px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        
    }
    .cbar{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .per{
        margin-bottom: 20px;
        height: 100px;
        margin-left: 0;
        width:200px;
        background-color: #040c3c;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:center ;
        
        border-radius: 20px;
    }
    .heading p{
        font-size: 20px;
        
    }
    .cls{
        display: flex;
        align-items: center;
        justify-content: center;
        height:auto;
        width:80%;
        margin-bottom: 30px;
    }
    .heading{
        margin-top: 30px;
        margin-bottom: 30px;
        
        width:100%;
        display: flex;
        align-items: center;
        background-color: #040c3c;
        justify-content:space-between;
    }
    .fine{
        font-size:medium;
        padding-left: 20px;
        font-weight: normal;
        color:white
    }
    .cls img{
        display: block;
        width: 200px;
        height: 200px;
    }
    .ji{
        margin-bottom:30px;
        margin-top:20px;
    }
}