*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ca9e4b;
}
body{
    background-color: #040c3c;
}
body::-webkit-scrollbar {
    display: none; 
  }
.header{
    min-height: 100px;
}
.navbar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #040c3c;
}
.navbar .logo{
    width: 70%;
    height: 100%;
}
.navbar .logo img{
    max-width: 100%;
    height: 100%;
}
.navbar .logo .logo2{
    display: none;
}
.navbar .navlist{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 30%;
    height: 100%;   
}
.navbar .navlist ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}
.navbar .navlist ul li a{
    list-style: none;
    text-decoration: none;
}
.navbar .navlist ul{ 
    list-style: none;
}
.navbar .menu-btn i{
    color: #fff;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;

}
  input[type="checkbox"]{
    display: none;
  }
.navlist ul li{
    display: inline-block;
    padding: 10px;
}
.navlist ul li a{
    text-decoration: none;
    color: white;
   
}
.navlist ul li a.active,
.navlist ul li a:hover{
    color:#ca9e4b;
}
.navlist .menu-btn {
    display: flex;
    align-items:start;
    justify-content:center;
    background:none;
}
#click:checked ~ .menu-btn i:before{
    content: "\f00d";
}
.navlist ul{
    position: fixed;
    top: 100px;
    left: -100%;
    height: 100%;
    width: 20%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    background-color: black;
}
#click:checked ~ ul{
    left: 0;
    right: 0;
}
.navlist ul li{
    width: 100%;
}
.navlist ul li a{
    width: 100%;
    display: block;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#click:checked ~ ul li a{
    margin: 0px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
  }
.Head{
    font-size: 30px;
    
}
.now{
    text-decoration: none;
}
h6{
    margin: 0%;
    padding: 0%;
}
.banner .tit{
    margin: 40px;
    width:auto;
    height:40vh;
}
.banner .qr{
    margin: 40px;
    width:200px;
    height:200px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:50%;
    height:75vh;
    padding: 30px;
    
}
.date{
    font-size:40px;
}
.button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: #040c3c;
    border-radius: 20px;
}
.copy{
    background-color: #fff;
    height:50px;
   display: none;
}
.copy p{
    color: #040c3c;
    font-size: 15px;
}
.events{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}
.event{
    width:80%;
    height:400px;
    display: flex;
    align-items: center;
    justify-content: start;
   
    gap: 20px;
}
.left{
    width: 50%;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    width: 50%;
    
}
.headd{
    display: none;
}
.evn{
    padding: 20px;
}
.left img {
    width: 100%;
    height: 100%;

}
.right li {
    
    list-style: upper-roman;
    list-style-position: inside;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
    color: #fff;
    font-weight: lighter;
    
}
.en{
    margin-right:50%;
    padding:10px 20px;
    background-color: #fff;
    color:#040c3c;
    text-decoration: none;
    border-radius:10px;
}
.head{
    margin: 10px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
}
.carding{
    display: flex;display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 70%;
    
}
.team{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 200px;
    width: 250px;
    background-color: #fff;
    border-radius:20px ;
    margin-left: 30px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
}
.round{
    width: 60%;
    height: 70%;
    
}
.Cardname{
    padding-top: 10px;
    color: #040c3c;
}
.Cardname1{
    font-size: small;
    color: #040c3c;
}
.round img{
    height: 100%;
    border-radius: 100%;
}
.contactus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
    flex-wrap: wrap;
}
.cbar{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contactus h1{
    color: #040c3c;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}
.per{
    margin-left: 20px;
    height: 100px;
    width:200px;
    background-color: #040c3c;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center ;
    
    border-radius: 20px;
}
.per p{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
.per h3{
    color: white;
    font-size: 20px;
}
.per h5{
    color: white;
    font-size: 15px;
    font-weight: normal;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width:100%;
}
.cls{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width:70%;
    height: 100%;

}
.heading{
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    width:100%;
    display: flex;
    align-items: flex-start;
    background-color: #040c3c;
    justify-content: flex-start;
}
.heading p{
    font-size: 30px;
    
}
.fine{
    font-size: larger;
    padding-left: 50px;
    color:white;
    font-weight: normal;
}
.ji{
    margin-top:50px;
}
.cls img{
    display: none;
}
