@media only screen and (max-width: 1280px){
    body{
        background-color:#03093c;
        color: aliceblue;
    }
    .logo1{
        display: none;
    }
    .logo2{
        display: inline;
    }
    .navlist ul{
        position: fixed;
        top: 12vh;
        left: -100%;
        bottom: 0;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        background-color: black;
    }
   .navbar{
        width: 100%;
        height: 12vh;
        background-color: white;
    }
    .navlogo{
        height: 100%;
        width: 60%;
    }
    .navlist{
        height: 100%;
        width: 20%;
    }
    .navlist .menu-btn i{
        color: black;
        padding: 20px;
    }
    .Main{
        margin-top: 20px;
    }
    .navlist ul{
        height: 100%;
        width: 100%;
    }
    .space{
        width: 100%;
        height: 12vh;
    }
    .banner{
        height:90%;
        margin-bottom: 0px;
    }
    .boxes{
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    
    .leftbox,.rightbox{
        flex-direction:row;
        width: 0%;
    }
    .leftbox p,.rightbox p{
        display: none;
    }
    .leftevent,.rightevent{
       
        display: none;
    }
    .centerbox{
        height: 100%;
       width: 80%;
       display: flex;
      
       justify-content: space-around;
        margin:0px;
       
    }
    .qrc{
        display: block;
        width: 50%;
        margin: 5px;
    }
    .Heading{
        flex-direction: column;
        display: flex;

        align-items: center;
        font-size: 1.5rem;
    }
    .bigHeading{
        flex-direction: column;
        display: flex;
        
        align-items: center;
        font-size: 35px;
        margin-bottom:30px;
    }
    .reg{
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        background-color: aliceblue;
        border-radius: 20px;
        transition: all 0.5s ease;
        margin: 0;
    }
    .coord{
        height:auto;
        
        align-items: center;
        margin:0px
    }
    .cor{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .leftcor,.rightcor{
        width: 100%;
        margin:20px;
        align-items: center;
        justify-content: center;
        
        padding:20px;
    }
    .hi{
        
        margin-top: 0;
        font-size: 20px;
    }
    .NormalHead{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        flex-direction: column;
    }
    .events{
        height: auto;
        width:100%;
      
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .ev{
        margin: 20px 0px;
        color: #ca9e4b;
        font-weight: bold;
        font-size: 17px;
    }
    .image{
        width: 80%;
        height: auto;
    
    }
    .content{
        width: 80%;
        height: auto;
     
    }
    .image img{
        width: 100%;
    }
    .content li{
        list-style-position: inside;
        list-style-type:disc;
        margin: 10px 20px;
        
    }
    .box{
        margin-bottom: 0px;
    }

    .Staff{
        width: 80%;
        height: auto;
        margin: 0px;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    .staff{
        margin: 0px;
        
    }
    .SName{
        font-size: medium;
    }
    .Staff img{
        width: 100%;
        height: 170px;
        
    }
 .bigBox{
  
    flex-direction: column;
 }
 .stud{
    height: auto;
    width:40%;
  
    margin: 0%;
   
 }
 .stud img{
    height: 100px;
    width:100px;
 }
 .Student{
    flex-direction:row;
    width: 100%;
 
    margin: 0%;
    
 }
 .Sname{
    margin-top:10px;
    text-align: center;
    font-size: 15px;
 }
 .ema{
    font-size: large;
 }
 .hin{
    margin-top: 0px;
 }
 .side{
    margin-bottom:20px;
    font-size: 12px;
 }
 .contactbox{
    flex-direction: column;
  
    justify-content: center;
    gap: 20px;
    
 }
 .cbox{
    padding: 10px;
    width: 80%;
 }
 .cname{
    font-size: small;
    color: black;
 }
 .contact{
    height: 350px;

 }
}